.container {
  display: flex;
  background-color: #aba5a5;
  flex-direction: column;
  margin: auto;
  margin-top: 16px;
  width: 600px;
  padding-bottom: 30px;
  border-radius: 16px;
  /* align-items: center;
  justify-content: center; */
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 9px;
  width: 100%;
  margin-top: 30px;
}

.text {
  color: rgb(168, 111, 6);
  font-size: 48px;
  font-weight: 700;
}

.underline {
  width: 61px;
  height: 6px;
  background: rgb(168, 111, 6);
  border-radius: 9px;
}

.inputs {
  margin-top: 55px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.input {
  display: flex;
  align-items: center;
  margin: auto;
  width: 480px;
  height: 80px;
  background: #eaeaea;
  border-radius: 6px;
}

.user {
  margin: 0px 30px;
}
.enve {
  margin: 0px 30px;
}
.lock {
  margin: 0px 30px;
}
.input input {
  height: 50px;
  width: 400px;
  background: transparent;
  border: none;
  outline: none;
  color: #797979;
  font-size: 19px;
}
